#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading-container {
    display: flex;
    justify-content: center;
}

h1 {
    color: blue;
}

#tree-container {
    display: flex;
    justify-content: center;
}

span {
  color: green;
}

pre {
  font-size: 1.2rem;
  font-weight: bold;
}

#top {
  color: red;
}

span.tree-trunk {
    color: black;
}
